@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to eCustomers</h1>
    <p>This application helps to do view all the customer details with their Open Hours details</p>
    <p>you can perform easy CRUD operations on customers data</p>
</div>
